# IDE/LSP Related files
.idea/
.vscode/
pyrightconfig.json

# Virtual environment
venv/
env/
.venv/

# Security
**/*.env
.secret
.secretkey
.rsa

# SQLITE FILES
**/*.sqlite
**/*.sqlite3
**/*.db

# Cache
**/__pycache__/
**/*.pyc
.mypy_cache/
.ruff_cache/
.ropeproject/
.pytest_cache/
